.leadwrapper {
  height: 300px;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-family: "Lato", sans-serif;
}
.leadwrapper h1 {
  color: #097eae;
  font-size: 2rem;
  text-align: center;
}
.leadwrapper button {
  background-color: #00a64c;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.steps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.step {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0000001a;
  max-width: calc(33.333% - 20px);
  padding: 23px;
}
.step h2 {
  color: #0077b6;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  font-family: "Lato", sans-serif;
}

.popup-content {
  background: #fff;
  padding: 20px;
  width: 520px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  transform: translateY(20px);
  animation: slideUp 0.3s forwards;
}

form {
  background-color: #fff;
  height: auto;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.input-containerr {
  position: relative;
  margin: 20px 0;
}

.input-containerr input {
  width: 100%;
  padding: 10px;
  padding-top: 20px; 
  border: 1px solid #8b8b8bc9;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  opacity: .5;
}
.input-containerr input:hover{
    opacity: 1;
}
.input-containerr label {
  position: absolute;
  top: 0px;
  left: 10px;
  transition: 0.3s ease;
  background: #fff;
  padding: 0 5px;
  color: #7b7878;
  font-size: 16px;
  pointer-events: none; 
}

.input-containerr input:focus + label,
.input-containerr input:not(:placeholder-shown) + label {
  top: -17px;
  font-size: 12px;
  color: #333333;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content label {
  display: block;
  margin: 10px 0 5px;
}

.popup-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.popup-content button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

.popup-content button[type="button"] {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}


