.admin-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: 100%;
    background-color: skyblue;
    box-shadow: 1px 1px 5px gainsboro;
  }
  .header-icon img {
    width: 190px;
    object-fit: fill;
    transition: .5s linear;
  }
  .header-icon img:hover{
    width: 200px;
  }
  a {
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(51, 51, 51);
    background-color: beige;
    border-radius: 8px;
    margin: 5px 0px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    transform: scale(.9);
    transition: .5s linear;
  }
  a:hover{
    box-shadow: 2px 2px 5px 1px rgb(255, 255, 131);
    transform: scale(1);
  }
  .work img{
    width: 40px;
  }
  .sidebar {
    height: 100vh;
    width: 300px;
    background-color: rgb(248, 249, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 8px;
padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    font-family: "Lato", sans-serif;
  
  }
  aside {
    display: flex;
  }
  section {
    /* background: #dde5e7; */
    width: 100%;
  
  }
  .sidebar button {
    background-color: #dde5e7;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
  }
  .items {
    height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    align-items: center;
  }
  .fviECa {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(221, 221, 221);
    margin: 10px 0px;
}
  .items1 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    display: none;
  }
  
  .hospital,
  .health,
  .admin-customers {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .hospital h5{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 19px;
  
  }
  .i{
     color: #0561d2;
  }
  .health h5{
   font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 19px;
    /* color: rgb(19, 19, 187); */
  
  }
  .admin-customers h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 19px;
    /* color: rgb(19, 19, 187); */
  
  }
  .hidden {
    position: absolute;
    top: 65px;
    display: none;
  }
  @media (max-width: 480px) {
  
    .header-icon img{
      width: 100px;
    }
    .admin-logo h5{
      font-size: 12px;
    }
    .sidebar {
      display: none;
    }
    .hidden {
      display: block;
    }
    a {
      font-size: 14px;
      font-family: "Lato", sans-serif;
      font-weight: 500;
    }
    .hospital,
    .health,
    .admin-customers h5 {
      font-size: 14px;
    }
    .dash{
      height: 35px;
      align-items: center;
      display: flex;
    }
    .dash button {
      font-size: 14px;
      background-color: #dde5e7;
      color: black;
      border: none;
      padding: 5px;
      width: 100px;
      font-family: "Lato", sans-serif;
      font-weight: 700;
    }
  
    .items1 {
      margin-top: 35px;
      display: block;
      position: absolute;
      z-index: 1;
      background-color: #fafbfbe7;
      width: 100%;
      height: auto;
      animation: slide .6s linear;
      
    }
    @keyframes slide {
      0%{
          transform: scale(0); 
      }
      50%{
         transform: scale(1);
      }
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px){
    section {
      width: 80%;
    
    }
    .admin-header{
      flex-direction: row;
    }
  }